Repository asyncapi/parser-js, pull requests merged in 2021-12, with the labels that each got.

#402 feat: add stringify function
  README.md
  lib/constants.js
  lib/iterators.js
  lib/models/asyncapi.js
  test/models/asyncapi_test.js
Labels: enhancement

#418 docs: update stringify docs
  README.md
Labels: enhancement

#431 fix: type of json() method
  lib/models/base.js
Labels: ready-to-merge

#426 chore: update release branch
  lib/asyncapiSchemaFormatParser.js
  package.json
Labels: autoapproved, ready-to-merge
