Repository asyncapi/parser-js, pull requests merged in 2022-04, with the labels that each got.

#507 refactor: port server-variable model to ts
  src/models/server-variable.ts
  src/models/server-variables.ts
  src/models/server.ts
  src/models/v2/server-variable.ts
  src/models/v2/server-variables.ts
  src/models/v2/server.ts
  src/models/v3/server-variable.ts
  src/models/v3/server-variables.ts
  src/models/v3/server.ts
  test/models/v2/server-variable.ts
  test/models/v2/server.spec.ts
Labels: ready-to-merge

#511 refactor: add Parser class
  src/custom-operations/index.ts
  src/custom-operations/parse-schema.ts
  src/index.ts
  src/lint.ts
  src/parse.ts
  src/parser.ts
  src/schema-parser/index.ts
  src/types.ts
  src/utils.ts
  test/lint.spec.ts
  test/parse.spec.ts
  test/parser.spec.ts
Labels: enhancement, ready-to-merge

#505 feat: add security field at the operation level
  API.md
  lib/models/operation-security-requirement.js
  lib/models/operation.js
  test/models/operation_test.js
  types.d.ts
Labels: ready-to-merge

#521 chore: point @asyncapi/specs package to 2.14.0-2022-04-release.1
  package-lock.json
  package.json
Labels: ready-to-merge

#518 chore: add next-major-spec prerelease
  package.json
Labels: ready-to-merge

#528 chore: resolve merge conflicts on 2022-04-release branch
  .github/workflows/add-good-first-issue-labels.yml
  .github/workflows/automerge-for-humans-add-ready-to-merge-or-do-not-merge-label.yml
  .github/workflows/automerge-for-humans-merging.yml
  .github/workflows/automerge-for-humans-remove-ready-to-merge-label-on-edit.yml
  .github/workflows/automerge-orphans.yml
  .github/workflows/automerge.yml
  .github/workflows/autoupdate.yml
  .github/workflows/bump.yml
  .github/workflows/help-command.yml
  .github/workflows/if-go-pr-testing.yml
  .github/workflows/if-nodejs-pr-testing.yml
  .github/workflows/if-nodejs-release.yml
  .github/workflows/if-nodejs-version-bump.yml
  .github/workflows/issues-prs-notifications.yml
  .github/workflows/link-check-cron.yml
  .github/workflows/link-check-pr.yml
  .github/workflows/lint-pr-title.yml
  .github/workflows/notify-tsc-members-mention.yml
  .github/workflows/release-announcements.yml
  .github/workflows/sentiment-analysis.yml
  .github/workflows/stale-issues-prs.yml
  .github/workflows/welcome-first-time-contrib.yml
  package-lock.json
  package.json
Labels: ready-to-merge

#529 chore: fix merge conflicts with master branch
  dist/bundle.js
Labels: ready-to-merge

#476 feat: add methods and tests for serverVariables
  lib/models/components.js
  package-lock.json
  package.json
  test/models/components_test.js
Labels: ready-to-merge

#531 fix: broken package-lock.json
  package-lock.json
Labels: ready-to-merge

#510 feat: add support for messageId
  dist/bundle.js
  lib/customValidators.js
  lib/models/message-traitable.js
  lib/models/message.js
  lib/parser.js
  package-lock.json
  package.json
  test/customValidators_test.js
  test/models/message-trait_test.js
  test/models/message-traitable_test.js
  test/models/message_test.js
Labels: ready-to-merge

#535 chore: fix conflicts with `master` branch
  .github/workflows/add-good-first-issue-labels.yml
  dist/bundle.js
Labels: ready-to-merge

#536 chore: update @asyncapi/specs to 2.14.0
  package-lock.json
  package.json
Labels: ready-to-merge

#501 feat: release for version 2.4.0 of the spec
  API.md
  dist/bundle.js
  lib/asyncapiSchemaFormatParser.js
  lib/customValidators.js
  lib/models/components.js
  lib/models/message-traitable.js
  lib/models/message.js
  lib/models/operation-security-requirement.js
  lib/models/operation.js
  lib/parser.js
  package-lock.json
  package.json
  test/customValidators_test.js
  test/models/components_test.js
  test/models/message-trait_test.js
  test/models/message-traitable_test.js
  test/models/message_test.js
  test/models/operation_test.js
  types.d.ts
Labels: ready-to-merge, autoupdate

#538 refactor: add all missed interfaces
  src/models/channel-parameter.ts
  src/models/channel-parameters.ts
  src/models/channel.ts
  src/models/channels.ts
  src/models/collection.ts
  src/models/components.ts
  src/models/contact.ts
  src/models/correlation-id.ts
  src/models/info.ts
  src/models/license.ts
  src/models/message-example.ts
  src/models/message-trait.ts
  src/models/message-traits.ts
  src/models/message.ts
  src/models/messages.ts
  src/models/operation-trait.ts
  src/models/operation-traits.ts
  src/models/operation.ts
  src/models/operations.ts
  src/models/schema.ts
  src/models/schemas.ts
  src/models/server-variable.ts
  src/models/server-variables.ts
  src/models/server.ts
  src/models/servers.ts
  src/models/utils.ts
Labels: enhancement

#540 docs: fix links in Markdown files
  README.md
  lib/parser.js
Labels: ready-to-merge
