Repository asyncapi/parser-js, pull requests merged in 2022-03, with the labels that each got.

#484 chore: init architecture
  .eslintignore
  .eslintrc
  .gitignore
  .npmignore
  CODEOWNERS
  jest.config.ts
  package-lock.json
  package.json
  src/index.ts
  src/models/asyncapi.ts
  src/models/base.ts
  src/models/index.ts
  test/models/base.spec.ts
  tsconfig.json
Labels: enhancement

#485 refactor: add info and dependant models
  src/models/asyncapi.ts
  src/models/contact.ts
  src/models/index.ts
  src/models/info.ts
  src/models/license.ts
  test/models/asyncapi.spec.ts
  test/models/contact.spec.ts
  test/models/info.spec.ts
  test/models/license.spec.ts
Labels: ready-to-merge

#486 refactor: add stringify functionality
  src/constants.ts
  src/index.ts
  src/models/base.ts
  src/stringify.ts
  src/utils.ts
  test/stringify.spec.ts
  test/utils.spec.ts
Labels: ready-to-merge

#488 refactor: interface and implementations for each major spec version
  src/lint.ts
  src/models/asyncapi.ts
  src/models/contact.ts
  src/models/index.ts
  src/models/info.ts
  src/models/license.ts
  src/models/v2/asyncapi.ts
  src/models/v2/contact.ts
  src/models/v2/index.ts
  src/models/v2/info.ts
  src/models/v2/license.ts
  src/models/v3/asyncapi.ts
  src/models/v3/contact.ts
  src/models/v3/index.ts
  src/models/v3/info.ts
  src/models/v3/license.ts
  src/parse.ts
  src/stringify.ts
  src/types.ts
  src/utils.ts
  test/models/asyncapi.spec.ts
  test/models/v2/asyncapi.spec.ts
  test/models/v2/contact.spec.ts
  test/models/v2/info.spec.ts
  test/models/v2/license.spec.ts
  test/parse.spec.ts
  test/stringify.spec.ts
  test/utils.spec.ts
Labels: ready-to-merge

#489 refactor: init custom parser functionality
  package-lock.json
  package.json
  src/constants.ts
  src/custom-operations/apply-traits.ts
  src/custom-operations/index.ts
  src/custom-operations/parse-schema.ts
  src/index.ts
  src/parse.ts
  src/schema-parser/asyncapi-schema-parser.ts
  src/schema-parser/index.ts
  src/stringify.ts
  src/types.ts
  src/utils.ts
  test/utils.spec.ts
Labels: enhancement, ready-to-merge

#491 refactor: add needed mixins
  src/constants.ts
  src/models/asyncapi.ts
  src/models/base.ts
  src/models/mixins/bindings.ts
  src/models/mixins/description.ts
  src/models/mixins/external-docs.ts
  src/models/mixins/index.ts
  src/models/mixins/specification-extensions.ts
  src/models/mixins/tags.ts
  src/models/v2/asyncapi.ts
  src/models/v3/asyncapi.ts
  test/models/mixins/bindings.spec.ts
  test/models/mixins/description.spec.ts
  test/models/mixins/external-docs.spec.ts
  test/models/mixins/inheritance.ts
  test/models/mixins/specification-extensions.spec.ts
  test/models/mixins/tags.spec.ts
  test/models/v2/asyncapi.spec.ts
Labels: enhancement, ready-to-merge

#494 chore: update 2022-04-release branch
  lib/asyncapiSchemaFormatParser.js
Labels: ready-to-merge

#499 refactor: adjust mixins to the IntentAPI
  src/models/asyncapi.ts
  src/models/binding.ts
  src/models/bindings.ts
  src/models/collection.ts
  src/models/contact.ts
  src/models/extension.ts
  src/models/extensions.ts
  src/models/external-docs.ts
  src/models/info.ts
  src/models/license.ts
  src/models/mixins.ts
  src/models/mixins/bindings.ts
  src/models/mixins/external-docs.ts
  src/models/mixins/specification-extensions.ts
  src/models/mixins/tags.ts
  src/models/tag.ts
  src/models/tags.ts
  src/models/utils.ts
  src/models/v2/asyncapi.ts
  src/models/v2/contact.ts
  src/models/v2/index.ts
  src/models/v2/info.ts
  src/models/v2/license.ts
  src/models/v2/mixins/bindings.ts
  src/models/v2/mixins/description.ts
  src/models/v2/mixins/extensions.ts
  src/models/v2/mixins/external-docs.ts
  src/models/v2/mixins/tags.ts
  src/models/v3/asyncapi.ts
  src/models/v3/contact.ts
  src/models/v3/index.ts
  src/models/v3/info.ts
  src/models/v3/license.ts
  src/models/v3/mixins/bindings.ts
  src/models/v3/mixins/description.ts
  src/models/v3/mixins/extensions.ts
  src/models/v3/mixins/external-docs.ts
  src/models/v3/mixins/tags.ts
  test/models/collection.spec.ts
  test/models/mixins/bindings.spec.ts
  test/models/mixins/external-docs.spec.ts
  test/models/mixins/specification-extensions.spec.ts
  test/models/mixins/tags.spec.ts
  test/models/v2/asyncapi.spec.ts
  test/models/v2/contact.spec.ts
  test/models/v2/external-docs.spec.ts
  test/models/v2/info.spec.ts
  test/models/v2/license.spec.ts
  test/models/v2/mixins/bindings.spec.ts
  test/models/v2/mixins/description.spec.ts
  test/models/v2/mixins/extensions.spec.ts
  test/models/v2/mixins/external-docs.spec.ts
  test/models/v2/mixins/inheritance.ts
  test/models/v2/mixins/tags.spec.ts
  test/models/v2/tag.spec.ts
Labels: enhancement, ready-to-merge

#498 docs: updated the readme logo (#490)
  README.md
  assets/logo.png
Labels: ready-to-merge

#497 refactor: add models for server object
  .sonarcloud.properties
  src/models/asyncapi.ts
  src/models/server.ts
  src/models/servers.ts
  src/models/utils.ts
  src/models/v2/asyncapi.ts
  src/models/v2/index.ts
  src/models/v2/server.ts
  src/models/v2/servers.ts
  src/models/v3/asyncapi.ts
  src/models/v3/index.ts
  src/models/v3/server.ts
  src/models/v3/servers.ts
  test/models/v2/asyncapi.spec.ts
  test/models/v2/server.spec.ts
Labels: ready-to-merge

#496 refactor: add metadata to models
  src/models/asyncapi.ts
  src/models/base.ts
  src/models/server.ts
  src/models/utils.ts
  src/models/v2/asyncapi.ts
  src/models/v2/info.ts
  src/models/v2/license.ts
  src/models/v2/mixins/bindings.ts
  src/models/v2/mixins/extensions.ts
  src/models/v2/mixins/tags.ts
  src/models/v2/server.ts
  src/models/v2/servers.ts
  src/models/v3/asyncapi.ts
  src/models/v3/info.ts
  src/models/v3/mixins/bindings.ts
  src/models/v3/mixins/extensions.ts
  src/models/v3/mixins/tags.ts
  src/models/v3/server.ts
  src/models/v3/servers.ts
  src/parse.ts
  src/stringify.ts
  src/types.ts
  src/utils.ts
  test/models/base.spec.ts
  test/models/v2/asyncapi.spec.ts
  test/models/v2/info.spec.ts
  test/models/v2/mixins/external-docs.spec.ts
  test/models/v2/mixins/inheritance.ts
  test/models/v2/server.spec.ts
  test/models/v2/servers.spec.ts
  test/stringify.spec.ts
  test/utils.spec.ts
Labels: enhancement, ready-to-merge
