Repository asyncapi/parser-js, pull requests merged in 2022-02, with the labels that each got.

#465 fix: do not use the Array.prototype.flat function
  lib/asyncapiSchemaFormatParser.js
Labels: bug, autoapproved, ready-to-merge

#442 ci: add next-major branch to the list of branches to release
  package.json
Labels: autoapproved, ready-to-merge

#468 ci: set next-major branch as base branch for bump action
  .github/workflows/bump.yml
  .github/workflows/if-go-pr-testing.yml
  .github/workflows/if-nodejs-pr-testing.yml
  .github/workflows/notify-tsc-members-mention.yml
Labels: autoapproved, ready-to-merge

#447 docs: add first statements about parserjs v2 and intent-driven usage
  README.md
  docs/api/v1.md
  docs/api/v2.md
  package.json
Labels: ready-to-merge
