Repository asyncapi/parser-js, pull requests merged in 2022-11, with the labels that each got.

#669 fix: add missed methods to the SecurityScheme model
  src/models/security-requirement.ts
  src/models/security-scheme.ts
  src/models/v2/security-scheme.ts
  test/models/v2/security-requirement.spec.ts
  test/models/v2/security-scheme.spec.ts
  test/models/v2/server-variable.spec.ts
Labels: bug, ready-to-merge

#671 fix: handle complex circular reference cases
  src/custom-operations/index.ts
  src/custom-operations/resolve-circular-refs.ts
  src/models/v2/schema.ts
  src/old-api/base.ts
  src/old-api/schema.ts
  src/parse.ts
  src/spectral.ts
  src/types.ts
  src/utils.ts
  src/validate.ts
  test/custom-operations/check-circular-refs.spec.ts
  test/custom-operations/resolve-circular-refs.spec.ts
  test/mocks/parse/circular-ref-deep.yaml
  test/old-api/asyncapi.spec.ts
Labels: bug, ready-to-merge

#673 ci: remove not needed workflow
  .github/workflows/if-go-pr-testing.yml
Labels: ready-to-merge

#676 test: add tests for 224 and 360 issues
  test/parse.spec.ts
  test/validate.spec.ts
Labels: ready-to-merge

#674 fix: remove action and channel fields from Operation Trait Object
  src/models/operation-trait.ts
  src/models/operation.ts
  src/models/v2/operation-trait.ts
  src/models/v2/operation.ts
  src/models/v3/operation-trait.ts
  src/models/v3/operation.ts
  src/spec-types/v3.ts
  test/models/v2/operation-trait.spec.ts
  test/models/v2/operation.spec.ts
  test/models/v3/operation-trait.spec.ts
  test/models/v3/operation.spec.ts
Labels: bug, ready-to-merge

#677 chore: add missed metadata methods to the core models
  asyncapi-parser-2.0.0-next-major.8.tgz
  src/models/channel.ts
  src/models/message-trait.ts
  src/models/mixins.ts
  src/models/operation-trait.ts
  src/models/server.ts
  src/models/v2/channel.ts
  src/models/v2/message-trait.ts
  src/models/v2/mixins.ts
  src/models/v2/operation-trait.ts
  src/models/v2/server.ts
  src/models/v3/channel.ts
  src/models/v3/message-trait.ts
  src/models/v3/mixins.ts
  src/models/v3/operation-trait.ts
  src/models/v3/server.ts
  test/models/v2/channel.spec.ts
  test/models/v2/message-trait.spec.ts
  test/models/v2/message.spec.ts
  test/models/v2/operation-trait.spec.ts
  test/models/v2/operation.spec.ts
  test/models/v2/server.spec.ts
  test/models/v2/utils.ts
  test/models/v3/channel.spec.ts
  test/models/v3/message-trait.spec.ts
  test/models/v3/message.spec.ts
  test/models/v3/operation-trait.spec.ts
  test/models/v3/operation.spec.ts
  test/models/v3/server.spec.ts
  test/models/v3/utils.ts
Labels: enhancement, ready-to-merge
