Repository asyncapi/parser-js, pull requests merged in 2022-09, with the labels that each got.

#583 refactor: add rule to check if AsyncAPI document is defined or not
  src/constants.ts
  src/schema-parser/asyncapi-schema-parser.ts
  src/schema-parser/spectral-rule-v2.ts
  src/spectral.ts
  test/spectral.test.ts
Labels: enhancement, ready-to-merge

#586 refactor: adapt components to parser-api
  src/models/components.ts
  src/models/correlation-ids.ts
  src/models/v2/channel.ts
  src/models/v2/components.ts
  src/models/v2/correlation-ids.ts
  test/models/v2/components.spec.ts
Labels: ready-to-merge

#588 refactor: add SecurityRequirement(s) models
  src/models/operation-trait.ts
  src/models/security-requirement.ts
  src/models/security-requirements.ts
  src/models/server.ts
  src/models/v2/operation-trait.ts
  src/models/v2/security-requirement.ts
  src/models/v2/security-requirements.ts
  src/models/v2/server.ts
  test/models/v2/operation-trait.spec.ts
  test/models/v2/security-requirement.spec.ts
  test/models/v2/security-requirements.spec.ts
  test/models/v2/server.spec.ts
Labels: ready-to-merge

#590 refactor: simplify operation traits based on parser-api
  src/models/operation-trait.ts
  src/models/operation.ts
  src/models/v2/operation-trait.ts
  test/models/v2/operation-trait.spec.ts
  test/models/v2/operation.spec.ts
Labels: ready-to-merge

#592 refactor: add filters to some collections
  src/models/channels.ts
  src/models/collection.ts
  src/models/messages.ts
  src/models/operations.ts
  src/models/servers.ts
  src/models/v2/channels.ts
  src/models/v2/messages.ts
  src/models/v2/operations.ts
  src/models/v2/servers.ts
  test/models/collection.spec.ts
  test/models/v2/channels.spec.ts
  test/models/v2/messages.spec.ts
  test/models/v2/operations.spec.ts
  test/models/v2/servers.spec.ts
Labels: ready-to-merge

#587 refactor: add extensions method to the bindings
  package-lock.json
  src/models/base.ts
  src/models/binding.ts
  src/models/bindings.ts
  src/models/collection.ts
  src/models/extension.ts
  src/models/schema.ts
  src/models/utils.ts
  src/models/v2/asyncapi.ts
  src/models/v2/binding.ts
  src/models/v2/bindings.ts
  src/models/v2/channel-parameters.ts
  src/models/v2/channel.ts
  src/models/v2/channels.ts
  src/models/v2/components.ts
  src/models/v2/correlation-ids.ts
  src/models/v2/extension.ts
  src/models/v2/extensions.ts
  src/models/v2/info.ts
  src/models/v2/message-examples.ts
  src/models/v2/message-trait.ts
  src/models/v2/message-traits.ts
  src/models/v2/message.ts
  src/models/v2/messages.ts
  src/models/v2/mixins.ts
  src/models/v2/operation-trait.ts
  src/models/v2/operation-traits.ts
  src/models/v2/operation.ts
  src/models/v2/operations.ts
  src/models/v2/schema.ts
  src/models/v2/schemas.ts
  src/models/v2/security-requirement.ts
  src/models/v2/security-requirements.ts
  src/models/v2/security-schemes.ts
  src/models/v2/server-variables.ts
  src/models/v2/server.ts
  src/models/v2/servers.ts
  src/models/v2/tags.ts
  src/schema-parser/asyncapi-schema-parser.ts
  src/schema-parser/avro-schema-parser.ts
  src/schema-parser/spectral-rule-v2.ts
  src/spec-types/v2.ts
  test/models/collection.spec.ts
  test/models/v2/bindings.spec.ts
  test/models/v2/components.spec.ts
  test/models/v2/operation-trait.spec.ts
  test/models/v2/schema.spec.ts
  test/models/v2/security-requirement.spec.ts
  test/models/v2/security-requirements.spec.ts
Labels: enhancement, ready-to-merge

#594 refactor: use @swc/jest to speedup test execution
  jest.config.ts
  package-lock.json
  package.json
Labels: enhancement, dependencies, ready-to-merge

#591 refactor: handle circular references in schemas
  src/document.ts
  src/lint.ts
  src/models/v2/schema.ts
  src/parse.ts
  src/stringify.ts
  src/utils.ts
  test/document.spec.ts
  test/mocks/parse/circular-ref.yaml
  test/parse.spec.ts
  test/utils.spec.ts
Labels: enhancement, ready-to-merge

#600 refactor: merge `master` into `next-major`
  .github/workflows/add-good-first-issue-labels.yml
  .github/workflows/automerge-for-humans-add-ready-to-merge-or-do-not-merge-label.yml
  .github/workflows/automerge-for-humans-merging.yml
  .github/workflows/automerge-for-humans-remove-ready-to-merge-label-on-edit.yml
  .github/workflows/automerge-orphans.yml
  .github/workflows/automerge.yml
  .github/workflows/autoupdate.yml
  .github/workflows/bump.yml
  .github/workflows/help-command.yml
  .github/workflows/if-go-pr-testing.yml
  .github/workflows/if-nodejs-pr-testing.yml
  .github/workflows/if-nodejs-release.yml
  .github/workflows/if-nodejs-version-bump.yml
  .github/workflows/issues-prs-notifications.yml
  .github/workflows/link-check-cron.yml
  .github/workflows/link-check-pr.yml
  .github/workflows/lint-pr-title.yml
  .github/workflows/notify-tsc-members-mention.yml
  .github/workflows/release-announcements.yml
  .github/workflows/sentiment-analysis.yml
  .github/workflows/stale-issues-prs.yml
  .github/workflows/welcome-first-time-contrib.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  assets/logo.png
  package-lock.json
Labels: ready-to-merge

#602 refactor: fix some bugs and smells
  src/models/v2/channel.ts
  src/models/v2/server.ts
  src/schema-parser/avro-schema-parser.ts
  src/spec-types/v2.ts
  src/utils.ts
Labels: ready-to-merge

#603 refactor: another round on merging and fixing conflicts
  README.md
  package.json
Labels: ready-to-merge

#597 refactor: cleanup interfaces + add missing methods from parser-api
  src/models/components.ts
  src/models/extension.ts
  src/models/schema.ts
  src/models/security-scheme.ts
  src/models/v2/bindings.ts
  src/models/v2/components.ts
  src/models/v2/extension.ts
  src/models/v2/extensions.ts
  src/models/v2/mixins.ts
  src/models/v2/schema.ts
  src/models/v2/security-scheme.ts
  src/spec-types/v2.ts
  test/models/v2/components.spec.ts
  test/models/v2/external-docs.spec.ts
Labels: ready-to-merge

#601 refactor: update Readme.md v1
  README.md
Labels: enhancement, ready-to-merge, 📑 docs

#596 refactor: add browser version of package and write docs for it
  .eslintignore
  .gitignore
  README.md
  package-lock.json
  package.json
  src/constants.ts
  src/custom-operations/parse-schema.ts
  src/index.ts
  src/old-api/base.ts
  src/schema-parser/asyncapi-schema-parser.ts
  src/spectral.ts
  src/utils.ts
  test/browser/browser.spec.ts
  test/browser/sample-page.html
  test/schema-parser/spectral-rule-v2.spec.ts
  webpack.config.js
Labels: enhancement, ready-to-merge, 📑 docs

#604 refactor: add iterator for traversing an AsyncAPI doc
  .eslintrc
  src/iterator.ts
  test/iterator.spec.ts
Labels: ready-to-merge

#610 refactor: add fromURL and fromFile utils
  README.md
  package-lock.json
  package.json
  src/from.ts
  src/index.ts
  src/lint.ts
  src/parse.ts
  src/spectral.ts
  test/from.spec.ts
  test/mocks/simple.yaml
  test/parse.spec.ts
  tsconfig.json
Labels: enhancement, ready-to-merge

#584 docs: add node.js and npm to README.md
  README.md
Labels: ready-to-merge

#606 chore: update next-spec branch with master changes
  .eslintrc
  .github/workflows/if-nodejs-release.yml
  .github/workflows/if-nodejs-version-bump.yml
  .github/workflows/link-check-cron.yml
  .github/workflows/stale-issues-prs.yml
  lib/asyncapiSchemaFormatParser.js
  lib/parser.js
  lib/utils.js
  package-lock.json
  package.json
  test/browser_test.js
  test/parseFromUrl_test.js
  test/refs/refed.yaml
  test/sample_browser/asyncapi.yaml
  test/sample_browser/index.html
  test/sample_browser/main/asyncapi.yaml
  test/sample_browser/refs/refed.yaml
  test/sample_browser/refs/refed2.yaml
  test/utils_test.js
Labels: ready-to-merge

#615 refactor: export cjs and esm modules
  .eslintignore
  .gitignore
  package.json
  tsconfig.cjs.json
  tsconfig.json
Labels: enhancement, ready-to-merge

#614 refactor: improve internal code
  README.md
  src/document.ts
  src/from.ts
  src/index.ts
  src/lint.ts
  src/models/asyncapi.ts
  src/parse.ts
  src/parser.ts
  src/schema-parser/asyncapi-schema-parser.ts
  src/schema-parser/avro-schema-parser.ts
  src/schema-parser/index.ts
  src/schema-parser/openapi-schema-parser.ts
  src/schema-parser/raml-schema-parser.ts
  src/schema-parser/spectral-rule-v2.ts
  src/spectral.ts
  src/stringify.ts
  src/types.ts
  src/utils.ts
  src/validate.ts
  test/custom-operations/parse-schema.spec.ts
  test/document.spec.ts
  test/iterator.spec.ts
  test/lint.spec.ts
  test/models/asyncapi.spec.ts
  test/parse.spec.ts
  test/parser.spec.ts
  test/schema-parser/asyncapi-schema-parser.spec.ts
  test/schema-parser/avro/avro-schema-parser.spec.ts
  test/schema-parser/openapi/openapi-schema-parser.spec.ts
  test/schema-parser/raml/raml-schema-parser.spec.ts
  test/schema-parser/spectral-rule-v2.spec.ts
  test/spectral.spec.ts
  test/stringify.spec.ts
  test/utils.spec.ts
  test/utils.ts
  test/validate.spec.ts
Labels: enhancement, ready-to-merge

#618 refactor: fix TS imports and change name of migrator to converter
  README.md
  src/index.ts
  src/models/v2/channel.ts
  src/old-api/converter.ts
  test/old-api/converter.spec.ts
  test/old-api/iterator.spec.ts
Labels: ready-to-merge

#617 chore: update release branch with 2.5.0 version
  lib/asyncapiSchemaFormatParser.js
Labels: ready-to-merge

#565 feat: add support for tags field on Server model
  lib/models/server.js
  package-lock.json
  package.json
  test/models/server_test.js
Labels: ready-to-merge

#622 refactor: add tests for old api
  src/custom-operations/anonymous-naming.ts
  src/iterator.ts
  src/models/v2/asyncapi.ts
  src/old-api/asyncapi.ts
  src/old-api/iterator.ts
  src/old-api/mixins.ts
  src/old-api/schema.ts
  src/spec-types/v2.ts
  src/stringify.ts
  test/custom-operations/anonymous-naming.spec.ts
  test/mocks/circular-refs.yaml
  test/mocks/nested-schemas.yaml
  test/mocks/refs-1.yaml
  test/mocks/refs-2.yaml
  test/mocks/simple-with-refs.yaml
  test/mocks/simple.yaml
  test/old-api/asyncapi.spec.ts
  test/old-api/base.spec.ts
  test/old-api/channel-parameter.spec.ts
  test/old-api/channel.spec.ts
  test/old-api/components.spec.ts
  test/old-api/contact.spec.ts
  test/old-api/correlation-id.spec.ts
  test/old-api/external-docs.spec.ts
  test/old-api/info.spec.ts
  test/old-api/license.spec.ts
  test/old-api/message-trait.spec.ts
  test/old-api/message.spec.ts
  test/old-api/mixins.spec.ts
  test/old-api/mixins.ts
  test/old-api/oauth-flow.spec.ts
  test/old-api/operation-trait.spec.ts
  test/old-api/operation.spec.ts
  test/old-api/schema.spec.ts
  test/old-api/security-scheme.spec.ts
  test/old-api/server-variable.spec.ts
  test/old-api/server.spec.ts
  test/old-api/tag.spec.ts
Labels: enhancement, ready-to-merge

#593 refactor: add possibility to pass custom resolvers (unstable)
  package-lock.json
  package.json
  src/parser.ts
  src/resolver.ts
  src/spectral.ts
  test/mocks/simple-message.yaml
  test/resolver.spec.ts
Labels: enhancement, ready-to-merge

#623 refactor: apply latest changes to the avro schema parser
  src/schema-parser/avro-schema-parser.ts
  test/schema-parser/avro/asyncapi-avro-148-1.9.0.json
  test/schema-parser/avro/avro-schema-parser.spec.ts
Labels: enhancement, ready-to-merge

#627 feat: release for version 2.5.0 of the spec
  API.md
  lib/asyncapiSchemaFormatParser.js
  lib/models/operation.js
  lib/models/server.js
  package-lock.json
  package.json
  test/browser_test.js
  test/models/server_test.js
  test/parseFromUrl_test.js
  test/sample_browser/main/asyncapi.yaml
  types.d.ts
Labels: ready-to-merge, autoupdate
