Repository asyncapi/parser-js, pull requests merged in 2022-10, with the labels that each got.

#634 refactor: add missed tests for custom operations
  asyncapi-parser-2.0.0.tgz
  src/custom-operations/anonymous-naming.ts
  src/custom-operations/apply-traits.ts
  src/custom-operations/index.ts
  src/utils.ts
  test/custom-operations/anonymous-naming.spec.ts
  test/custom-operations/apply-traits.spec.ts
  test/custom-operations/parse-schema.spec.ts
  test/from.spec.ts
Labels: enhancement, ready-to-merge

#638 chore: init models for v3 spec
  src/models/asyncapi.ts
  src/models/v3/asyncapi.ts
  src/models/v3/binding.ts
  src/models/v3/bindings.ts
  src/models/v3/extension.ts
  src/models/v3/extensions.ts
  src/models/v3/external-docs.ts
  src/models/v3/mixins.ts
  src/models/v3/tag.ts
  src/models/v3/tags.ts
  src/spec-types/index.ts
  src/spec-types/v3.ts
  src/types.ts
Labels: enhancement, ready-to-merge

#636 refactor: update Readme.md
  README.md
Labels: enhancement, ready-to-merge

#640 feat!: release first RC of 2.0.0-next-major version
  asyncapi-parser-2.0.0.tgz
Labels: enhancement, ready-to-merge

#641 fix: prepublishOnly script
  README.md
  package.json
Labels: bug, ready-to-merge

#643 fix: change schema.uid() method to schema.id()
  src/custom-operations/anonymous-naming.ts
  src/models/schema.ts
  src/models/v2/schema.ts
  src/models/v2/schemas.ts
  test/models/v2/schema.spec.ts
Labels: ready-to-merge

#646 fix: update Spectral ruleset fixing examples validation
  package-lock.json
  package.json
Labels: ready-to-merge

#647 ci: fix Sonarcloud bug with HTML page
  test/browser/sample-page.html
Labels: ready-to-merge

#645 feat: treat $id as id in schema model and add possibility to pass resolver option to parse and validate function
  .gitignore
  README.md
  package-lock.json
  src/models/server.ts
  src/models/v2/schema.ts
  src/models/v2/server.ts
  src/old-api/server.ts
  src/parse.ts
  src/parser.ts
  src/spec-types/v2.ts
  src/spectral.ts
  src/validate.ts
  test/custom-operations/anonymous-naming.spec.ts
  test/models/v2/schema.spec.ts
  test/models/v2/server.spec.ts
  test/old-api/server.spec.ts
  test/resolver.spec.ts
Labels: enhancement, ready-to-merge

#656 feat: export `AsyncAPISchema` and `v2` types
  src/index.ts
  src/schema-parser/spectral-rule-v2.ts
Labels: ready-to-merge

#663 fix: change metadata of models and fix minor things
  package-lock.json
  package.json
  src/constants.ts
  src/document.ts
  src/models/extension.ts
  src/models/v2/channel.ts
  src/models/v2/extension.ts
  src/old-api/schema.ts
  src/parse.ts
  src/schema-parser/asyncapi-schema-parser.ts
  src/schema-parser/spectral-rule-v2.ts
  src/stringify.ts
  src/types.ts
  src/utils.ts
  src/validate.ts
  test/custom-operations/anonymous-naming.spec.ts
  test/document.spec.ts
  test/old-api/schema.spec.ts
  test/resolver.spec.ts
  test/stringify.spec.ts
  test/utils.spec.ts
Labels: bug, enhancement, ready-to-merge
