Repository asyncapi/parser-js, pull requests merged in 2023-01, with the labels that each got.

#692 test: add less restricted test for memory usage
  test/parse_test.js
Labels: bug, ready-to-merge

#693 revert: reverts a previous commit
  test/parse_test.js
Labels: ready-to-merge

#694 test: skip memory usage test
  test/parse_test.js
Labels: bug, ready-to-merge

#691 chore: update next-spec with latest master
  .github/workflows/add-good-first-issue-labels.yml
  .github/workflows/automerge-for-humans-add-ready-to-merge-or-do-not-merge-label.yml
  .github/workflows/automerge-for-humans-remove-ready-to-merge-label-on-edit.yml
  .github/workflows/if-go-pr-testing.yml
  .github/workflows/if-nodejs-release.yml
  .github/workflows/issues-prs-notifications.yml
  .github/workflows/link-check-cron.yml
  .github/workflows/link-check-pr.yml
  .github/workflows/lint-pr-title.yml
  .github/workflows/notify-tsc-members-mention.yml
  .github/workflows/scripts/README.md
  .github/workflows/scripts/mailchimp/htmlContent.js
  .github/workflows/scripts/mailchimp/index.js
  .github/workflows/scripts/mailchimp/package-lock.json
  .github/workflows/scripts/mailchimp/package.json
  package-lock.json
  package.json
  test/parse_test.js
Labels: ready-to-merge

#696 chore: added mime for new version 2.6.0
  lib/asyncapiSchemaFormatParser.js
Labels: ready-to-merge

#706 chore: update release branch
  .github/workflows/add-good-first-issue-labels.yml
Labels: ready-to-merge

#702 ci: add cli to ignore repos in bump workflow
  .github/workflows/bump.yml
Labels: ready-to-merge, area/ci-cd

#701 ci: add cli to ignore repos in bump workflow
  .github/workflows/bump.yml
Labels: ready-to-merge, area/ci-cd
