Repository asyncapi/parser-js, pull requests merged in 2023-02, with the labels that each got.

#711 chore: update release branch
  test/browser_test.js
  test/parseFromUrl_test.js
  test/sample_browser/main/asyncapi.yaml
Labels: ready-to-merge

#707 feat: release for version 2.6.0 of the spec
  lib/asyncapiSchemaFormatParser.js
  test/browser_test.js
  test/parseFromUrl_test.js
  test/sample_browser/main/asyncapi.yaml
Labels: ready-to-merge

#714 fix: message-examples rule and check unused security schemes in 2.x.x
  package-lock.json
  src/ruleset/functions/documentStructure.ts
  src/ruleset/functions/unusedComponent.ts
  src/ruleset/ruleset.ts
  src/ruleset/v2/functions/messageExamples.ts
  src/ruleset/v2/functions/unusedSecuritySchemes.ts
  src/ruleset/v2/ruleset.ts
  test/ruleset/rules/asyncapi-unused-component.spec.ts
  test/ruleset/rules/v2/asyncapi2-message-examples.spec.ts
  test/ruleset/rules/v2/asyncapi2-unused-securityScheme.spec.ts
  test/spectral.spec.ts
Labels: bug, ready-to-merge

#718 ci: ignore java-template in bumping
  .github/workflows/bump.yml
Labels: ready-to-merge, area/ci-cd

#723 fix: update models with latest parser-api
  package-lock.json
  src/models/correlation-id.ts
  src/models/oauth-flow.ts
  src/models/v2/components.ts
  src/models/v2/correlation-id.ts
  src/models/v2/oauth-flow.ts
  src/models/v2/operation-trait.ts
  src/models/v2/operation.ts
  test/models/v2/correlation-id.spec.ts
  test/models/v2/oauth-flow.spec.ts
  test/models/v2/operation.spec.ts
Labels: bug, ready-to-merge

#720 feat: validate unparsed AsyncAPI document
  src/ruleset/ruleset.ts
  test/ruleset/rules/asyncapi-document-unresolved.spec.ts
Labels: enhancement, ready-to-merge
